<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-success"><svg class="cyclops-icon md"><use xlink:href="#icon-phone"></use></svg> Contact Us</h2>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="text-success">SD-WAN BASIC <small class="deemphasize"> (12m, With My Own Transport)</small></h4>
            </div>
            <div class="col-sm-6 text-right">
              <svg class="cyclops-icon lg" aria-hidden="true"><use xlink:href='#icon-caret-left' /></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="col-md-12 text-right">
        <small><span class="text-danger">*</span> Indicates Mandatory Field</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name <span class="text-danger">*</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="firstName">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name <span class="text-danger">*</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="lastName">
            </div>
          </div>
          <div class="form-group">
            <label for="primaryPhone" class="col-sm-3 control-label">Primary Phone <span class="text-danger">*</span></label>
            <div class="col-sm-5">
              <input type="tel" class="form-control" id="primaryPhone">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email">
            </div>
          </div>
          <div class="form-group">
            <label for="companyName" class="col-sm-3 control-label">Company Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="companyName">
            </div>
          </div>
          <div class="form-group">
            <label for="jobTitle" class="col-sm-3 control-label">Job Title</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="jobTitle">
            </div>
          </div>
          <div class="form-group">
            <label for="comments" class="col-sm-3 control-label">Comments</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="5" id="comments"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-push-3">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>