<div *ngIf="alert.message.length>0" class="container">
    <br>
    <div *ngIf="alert.type==='instruction'" class="alert alert-instruction" role="alert">
        <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true">
                <use xlink:href='#icon-plus-circle' />
            </svg>
        </div>
        <h4>{{alert.header}}</h4>
        <p>{{alert.message}}</p>>
    </div>
    <div *ngIf="alert.type==='success'" class="alert alert-success" role="alert">
        <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true">
                <use xlink:href='#icon-plus-circle' />
            </svg>
        </div>
        <h4>{{alert.header}}</h4>
        <p>{{alert.message}}</p>
    </div>
    <div *ngIf="alert.type==='info'" class="alert alert-info" role="alert">
        <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true">
                <use xlink:href='#icon-info-circle' />
            </svg>
        </div>
        <h4>{{alert.header}}</h4>
        <p>{{alert.message}}</p>
    </div>
    <div *ngIf="alert.type==='warning'" class="alert alert-warning" role="alert">
        <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true">
                <use xlink:href='#icon-exclamation-circle' />
            </svg>
        </div>
        <h4>{{alert.header}}</h4>
        <p>{{alert.message}}</p>
    </div>
    <div *ngIf="alert.type==='error'" class="alert alert-danger" role="alert">
        <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true">
                <use xlink:href='#icon-ban' />
            </svg>
        </div>
        <h4>{{alert.header}}</h4>
        <p>{{alert.message}}</p>
    </div>
</div>