html.cyclops body{
  background-color: #fff;
}

html.cyclops body .card-success{
  border-radius: 0;
}
        
html.cyclops body .new-list-view .cyclops-icon,
html.cyclops body .new-list-view .cyclops-icon.md {
   fill: rgba(65, 184, 52, 1);
}
    
html.cyclops body .new-list-view .list-view-item .col.active{
  background: #3cac30;
  color: #fff;
}

html.cyclops .navbar-account .dropdown a span{
  position: absolute;
  top: 2px;
  left: 40px;
  font-weight: bold;
}

html.cyclops .navbar-account .dropdown.open svg use{
  fill:#fff;
}

html.cyclops .nav-tabs {
  margin-bottom: 10px;
  text-align: center;
}

html.cyclops .nav-tabs li a {
  padding: 15px;
}

html.cyclops .nav-tabs li {
  display: inline-block;
  float: none;
}
    
html.cyclops .navbar-local {
  border: 0;
}

html.cyclops .navbar-local .navbar-nav {
  margin-left: 0;
  float: none;
}

html.cyclops .navbar-local .navbar-nav li a {
  border: 1px solid #e0e0e0;
  padding: 6px 50px 6px 52px;
  border-radius: 0;
}

html.cyclops .breadcrumb{
	margin-bottom: 0;
}