<div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Location</th>
						<th>Service Contact</th>
						<th>Service Address</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-angle-right' />
							</svg>
						</td>
						<td>Location 1</td>
						<td>Bill Johnson</td>
						<td>4728 Burton Avenue, Memphis,Tennessee,38138</td>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-times' />
							</svg>
						</td>
					</tr>
					<tr>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-angle-right' />
							</svg>
						</td>
						<td>Location 2</td>
						<td>Bill Johnson</td>
						<td>4728 Burton Avenue, Memphis,Tennessee,38138</td>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-times' />
							</svg>
						</td>
					</tr>
					<tr>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-angle-right' />
							</svg>
						</td>
						<td>Location 3</td>
						<td>Bill Johnson</td>
						<td>4728 Burton Avenue, Memphis,Tennessee,38138</td>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-times' />
							</svg>
						</td>
					</tr>
					<tr>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-angle-right' />
							</svg>
						</td>
						<td>Location 4</td>
						<td>Bill Johnson</td>
						<td>4728 Burton Avenue, Memphis,Tennessee,38138</td>
						<td>
							<svg class="cyclops-icon md" aria-hidden="true">
								<use xlink:href='#icon-times' />
							</svg>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="new-list-view-responsive new-list-view-responsive-sm">
				<div class="new-list-view-header">
					<h3 class="col col-10"></h3>
					<h3 class="col col-10">Location</h3>
					<h3 class="col col-20">Service Contact</h3>
					<h3 class="col col-40">Service Address</h3>
					<h3 class="col col-10">Action</h3>
				</div>
				<ul class="new-list-view">
					<li>
						<div class="list-view-item">
							<div class="col col-10"><span class="col-header"></span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-angle-right' />
								</svg>
							</div>
							<div class="col col-10"><span class="col-header">Location</span>Location 1</div>
							<div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
							<div class="col col-40"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
							<div class="col col-10"><span class="col-header">Action</span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-check' />
								</svg>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-times' />
								</svg>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10"><span class="col-header"></span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-angle-right' />
								</svg>
							</div>
							<div class="col col-10"><span class="col-header">Location</span>Location 2</div>
							<div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
							<div class="col col-40"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
							<div class="col col-10"><span class="col-header">Action</span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-check' />
								</svg>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-times' />
								</svg>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10"><span class="col-header"></span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-angle-right' />
								</svg>
							</div>
							<div class="col col-10"><span class="col-header">Location</span>Location 3</div>
							<div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
							<div class="col col-40"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
							<div class="col col-10"><span class="col-header">Action</span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-check' />
								</svg>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-times' />
								</svg>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10"><span class="col-header"></span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-angle-right' />
								</svg>
							</div>
							<div class="col col-10"><span class="col-header">Location</span>Location 4</div>
							<div class="col col-20"><span class="col-header">Service Contact</span>Bill Johnson</div>
							<div class="col col-40"><span class="col-header">Service Address</span>4728 Burton Avenue, Memphis,Tennessee,38138</div>
							<div class="col col-10"><span class="col-header">Action</span>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-check' />
								</svg>
								<svg class="cyclops-icon md" aria-hidden="true">
									<use xlink:href='#icon-times' />
								</svg>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<nav>
				<ul class="pagination">
					<li class="disabled">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-6 text-right">
			<p>Total Locations: <span>48</span></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-xs-5">
					<button class="btn btn-primary btn-lg">Add Another Product Option</button>
				</div>
				<div class="col-xs-7">
					<button class="btn btn-primary btn-lg">Proceed</button>
				</div>
			</div>
		</div>
	</div>
</div>