<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-6">
				<h5>Service Contact</h5>
			</div>
			<div class="col-sm-6 text-right">
				<button class="btn btn-primary btn-lg">Batch Upload</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
			
			<div formGroupName="serviceContact">
				<div class="form-group" >
					<!-- [ngClass]="{'has-error': form.controls['serviceContact.email'].touched && !form.controls['serviceContact.email'].valid}">-->
					<label for="horizontalFormEmail" class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" id="horizontalFormEmail" formControlName="email">
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">First Name</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="horizontalFormPassword" formControlName="firstName">
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Last Name</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="horizontalFormPassword" formControlName="lastName">
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Primary Phone</label>
					<div class="col-sm-5">
						<input type="tel" class="form-control" id="horizontalFormPassword" formControlName="primaryPhone">
					</div>
				</div>


			</div>

			<!-- Service Address Section -->
			<div formGroupName="serviceAddress">
				<h5 class="section-heading">Service Address</h5>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Location Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="horizontalFormPassword" formControlName="locationName">
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Address</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="horizontalFormPassword" formControlName="address">
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Street</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="horizontalFormPassword" formControlName="street">
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Country</label>
					<div class="col-sm-9">
						<select class="form-control" id="inputSelect" formControlName="country">
                      <option selected="" value="United States of America">United States of America</option>
                      <option value="Alabama">Alabama</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Arizona">Arizona</option>
                      <option value="Arkansas">Arkansas</option>
                    </select>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">City</label>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-5">
								<input type="text" class="form-control" id="horizontalFormPassword" formControlName="city">
							</div>
							<div class="col-sm-7">
								<label for="horizontalFormPassword" class="col-sm-3 control-label">State</label>
								<div class="col-sm-9">
									<div class="row">
										<select class="form-control" id="inputSelect" formControlName="state">
                            <option selected="" value=" - Select -">&nbsp;- Select -</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                          </select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Zip Code</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="horizontalFormPassword" formControlName="zipCode">
					</div>
				</div>
			</div>

			<!-- Shipping Address Section -->
			<div formGroupName="shippingAddress">
				<div>
					<h5>Shipping Address</h5>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label sr-only">Select Address</label>
						<div class="col-sm-9 col-sm-push-3">
							<div class="checkbox">
								<label>
                        <input type="checkbox" value="" formControlName="checkAddress" (change)="onCheckSameServiceAddress($event)"/> Same as Service Address

                      </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Location Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="horizontalFormPassword" formControlName="shippingLocationName" [value]="form.value.shippingAddress.checkAddress?form.value.serviceAddress.locationName:form.value.shippingAddress.shippingLocationName">

						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Address</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="horizontalFormPassword" formControlName="shippingAddress" [value]="form.value.shippingAddress.checkAddress?form.value.serviceAddress.address:form.value.shippingAddress.shippingAddress">

						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Street</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="horizontalFormPassword" formControlName="shippingStreet" [value]="form.value.shippingAddress.checkAddress?form.value.serviceAddress.street:form.value.shippingAddress.shippingStreet">

						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Country</label>
						<div class="col-sm-9">
							<select class="form-control" id="inputSelect" formControlName="shippingCountry">
                      <option selected="" value="United States of America" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.country=='United States of America'? true:null : null">United States of America</option>
                      <option value="Alabama" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.country=='Alabama'? true:null : null">Alabama</option>
                      <option value="Alaska" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.country=='Alaska'? true:null : null">Alaska</option>
                      <option value="Arizona" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.country=='Arizona'? true:null : null">Arizona</option>
                      <option value="Arkansas" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.country=='Arkansas'? true:null : null">Arkansas</option>
                    </select>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-5">
									<input type="text" class="form-control" id="horizontalFormPassword" formControlName="shippingCity" [value]="form.value.shippingAddress.checkAddress?form.value.serviceAddress.city:form.value.shippingAddress.shippingCity">
								</div>
								<div class="col-sm-7">
									<label for="horizontalFormPassword" class="col-sm-3 control-label">State</label>
									<div class="col-sm-9">
										<div class="row">
											<select class="form-control" id="inputSelect" formControlName="shippingState">
                            <option selected="" value=" - Select -">&nbsp;- Select -</option>
                            <option value="Alabama" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.state=='Alabama'? true:null : null">Alabama</option>
                            <option value="Alaska" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.state=='Alaska'? true:null : null">Alaska</option>
                            <option value="Arizona" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.state=='Arizona'? true:null : null">Arizona</option>
                            <option value="Arkansas" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.state=='Arkansas'? true:null : null">Arkansas</option>
                            <option value="California" [attr.selected]="form.value.shippingAddress.checkAddress ? form.value.serviceAddress.state=='California'? true:null : null">California</option>
                          </select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Zip Code</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="horizontalFormPassword" formControlName="shippingZipCode" [value]="form.value.shippingAddress.checkAddress?form.value.serviceAddress.zipCode:form.value.shippingAddress.shippingZipCode">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid">Add Location</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>