<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-6">
				<h5>Service Contact</h5>
			</div>
			<div class="col-sm-6 text-right">
				<button class="btn btn-primary btn-lg">Batch Upload</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
			<!-- Service Contact Section -->
			<div>
				<div class="form-group">
					<label for="horizontalFormEmail" class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" id="email" formControlName="email">
						<control-messages [control]="form.controls.email"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">First Name</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="firstName" formControlName="firstName">
						<control-messages [control]="form.controls.firstName"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Last Name</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="lastName" formControlName="lastName">
						<control-messages [control]="form.controls.lastName"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Primary Phone</label>
					<div class="col-sm-5">
						<input type="tel" class="form-control" id="primaryPhone" formControlName="primaryPhone" placeholder="(123) 123-1234">
						<control-messages [control]="form.controls.primaryPhone"></control-messages>
					</div>
				</div>
			</div>

			<!-- Service Address Section -->
			<div>
				<h5 class="section-heading">Service Address</h5>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Location Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="locationName" formControlName="locationName">
						<control-messages [control]="form.controls.locationName"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Address</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="address" formControlName="address">
						<control-messages [control]="form.controls.address"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Street</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="street" formControlName="street">
						<control-messages [control]="form.controls.street"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Country</label>
					<div class="col-sm-9">
						<select class="form-control" id="country" formControlName="country">
                            <option selected="" value="United States of America">United States of America</option>
                            <option value="Canada">Canada</option>
                        </select>
						<control-messages [control]="form.controls.country"></control-messages>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">City</label>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-5">
								<input type="text" class="form-control" id="city" formControlName="city">
								<control-messages [control]="form.controls.city"></control-messages>
							</div>
							<div class="col-sm-7">
								<label for="horizontalFormPassword" class="col-sm-3 control-label">State</label>
								<div class="col-sm-9">
									<div class="row">
										<select class="form-control" id="state" formControlName="state">
                                            <option selected="" value=" - Select -">&nbsp;- Select -</option>
                                            <option value="Alabama">Alabama</option>
                                            <option value="Alaska">Alaska</option>
                                            <option value="Arizona">Arizona</option>
                                            <option value="Arkansas">Arkansas</option>
                                            <option value="California">California</option>
                                        </select>
										<control-messages [control]="form.controls.state"></control-messages>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="horizontalFormPassword" class="col-sm-3 control-label">Zip Code</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="zipCode" formControlName="zipCode">
						<control-messages [control]="form.controls.zipCode"></control-messages>
					</div>
				</div>
			</div>

			<!-- Shipping Address Section -->
			<div>
				<div>
					<h5>Shipping Address</h5>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label sr-only">Select Address</label>
						<div class="col-sm-9 col-sm-push-3">
							<div class="checkbox">
								<label>
                                    <input type="checkbox" value="" formControlName="checkAddress"/> Same as Service Address <!--  (change)="onCheckSameServiceAddress($event)"  -->

                                </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Location Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="shippingLocationName" formControlName="shippingLocationName" [value]="form.value.checkAddress?form.value.locationName:form.value.shippingLocationName">
							<control-messages [control]="form.controls.shippingLocationName"></control-messages>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Address</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="shippingAddress" formControlName="shippingAddress" [value]="form.value.checkAddress?form.value.address:form.value.shippingAddress">
							<control-messages [control]="form.controls.shippingAddress"></control-messages>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Street</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="shippingStreet" formControlName="shippingStreet" [value]="form.value.checkAddress?form.value.street:form.value.shippingStreet">
							<control-messages [control]="form.controls.shippingStreet"></control-messages>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Country</label>
						<div class="col-sm-9">
							<select class="form-control" id="shippingCountry" formControlName="shippingCountry">
                                <option selected="" value="United States of America" [attr.selected]="form.value.checkAddress ? form.value.country=='United States of America'? true:null : null">United States of America</option>
                                <option value="Canada" [attr.selected]="form.value.checkAddress ? form.value.country=='Canada'? true:null : null">Canada</option>
                            </select>
							<control-messages [control]="form.controls.shippingCountry"></control-messages>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-5">
									<input type="text" class="form-control" id="shippingCity" formControlName="shippingCity" [value]="form.value.checkAddress?form.value.city:form.value.shippingCity">
									<control-messages [control]="form.controls.shippingCity"></control-messages>
								</div>
								<div class="col-sm-7">
									<label for="horizontalFormPassword" class="col-sm-3 control-label">State</label>
									<div class="col-sm-9">
										<div class="row">
											<select class="form-control" id="shippingState" formControlName="shippingState">
                                                <option selected="" value=" - Select -">&nbsp;- Select -</option>
                                                <option value="Alabama" [attr.selected]="form.value.checkAddress ? form.value.state=='Alabama'? true:null : null">Alabama</option>
                                                <option value="Alaska" [attr.selected]="form.value.checkAddress ? form.value.state=='Alaska'? true:null : null">Alaska</option>
                                                <option value="Arizona" [attr.selected]="form.value.checkAddress ? form.value.state=='Arizona'? true:null : null">Arizona</option>
                                                <option value="Arkansas" [attr.selected]="form.value.checkAddress ? form.value.state=='Arkansas'? true:null : null">Arkansas</option>
                                                <option value="California" [attr.selected]="form.value.checkAddress ? form.value.state=='California'? true:null : null">California</option>
                                            </select>
											<control-messages [control]="form.controls.shippingState"></control-messages>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="horizontalFormPassword" class="col-sm-3 control-label">Zip Code</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="shippingZipCode" formControlName="shippingZipCode" [value]="form.value.checkAddress?form.value.zipCode:form.value.shippingZipCode">
							<control-messages [control]="form.controls.shippingZipCode"></control-messages>
						</div>
					</div>

					<!-- Add Location -->
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid">Add Location</button>
						</div>
					</div>
				</div>
			</div>


		</form>
	</div>
</div>