<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-success text-center" id="pricing">Pricing</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<nav class="navbar-local">
					<label class="text-success">Term</label>
					<ul class="nav navbar-nav">
						<li [class.active]="term === '12'"><a class="text-lowercase" (click)="onTermClick('12')">12m</a></li>
						<li [class.active]="term === '24'"><a class="text-lowercase" (click)="onTermClick('24')">24m</a></li>
						<li [class.active]="term === '36'"><a class="text-lowercase" (click)="onTermClick('36')">36m</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-6">
				<h4 class="text-right text-success" *ngIf="status.sku === ''"><small>Select product option and transport</small></h4>
				<h4 class="text-right text-success" *ngIf="status.sku !== ''"><small>Pricing</small> $ {{currentPrice}} <small>/ mo</small></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="new-list-view-responsive new-list-view-responsive-sm">
					<div class="new-list-view-header text-center">
						<h3 class="col col-40">Product Option</h3>
						<h3 class="col col-30">With My Own Transport</h3>
						<h3 class="col col-30">With CenturyLink Transport</h3>
					</div>
					<ul class="new-list-view">
						<!--{{prices | json}} -->
						<li *ngFor="let variant of prices.productVariants;let i of index">
							<div class="list-view-item text-center">
								<div class="col col-40"><span class="col-header">Account</span>{{variant.name}}
									<svg class="cyclops-icon md pull-right" aria-hidden="true">
										<use xlink:href='#icon-question-circle' />
									</svg>
								</div>
								<div class="col col-30" [class.active]="variant.sku === status.sku && 
									status.mode ==='own'"><span class="col-header">With My Own Transport</span>
									<p *ngIf="term === '12'" (click)="onPriceSelection('own',variant.sku, variant.priceInfo.term_12.own, variant)">$ {{variant.priceInfo.term_12.own}}</p>
									<p *ngIf="term === '24'" (click)="onPriceSelection('own',variant.sku, variant.priceInfo.term_24.own, variant)">$ {{variant.priceInfo.term_24.own}}</p>
									<p *ngIf="term === '36'" (click)="onPriceSelection('own',variant.sku, variant.priceInfo.term_36.own, variant)">$ {{variant.priceInfo.term_36.own}}</p>
								</div>
								<div class="col col-30" [class.active]="variant.sku === status.sku && 
									status.mode ==='ctl'"><span class="col-header">With CenturyLink Transport</span>
									<p *ngIf="term === '12'" (click)="onPriceSelection('ctl',variant.sku, variant.priceInfo.term_12.ctl, variant)">$ {{variant.priceInfo.term_12.ctl}}</p>
									<p *ngIf="term === '24'" (click)="onPriceSelection('ctl',variant.sku, variant.priceInfo.term_24.ctl, variant)">$ {{variant.priceInfo.term_24.ctl}}</p>
									<p *ngIf="term === '36'" (click)="onPriceSelection('ctl',variant.sku, variant.priceInfo.term_36.ctl, variant)">$ {{variant.priceInfo.term_36.ctl}}</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<p class="text-right"><small>*Above prices does not include Taxes and Non recurring charges</small></p>
				<div class="text-center">
					<button type="button" class="btn btn-primary btn-lg" (click)="nextPage()"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-shopping-cart' /></svg> Build Order</button>
				</div>
			</div>
		</div>
		<hr>
	</div>
</section>