<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="link-feat" class="text-success text-center">Features</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Features</th>
            <th>SD-WAN BASIC</th>
            <th>SD-WAN BASIC HA</th>
            <th>SD-WAN PREMIUM</th>
            <th>SD-WAN PREMIUM HA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Standard CPE</td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
          </tr>
          <tr>
            <td>High Availability</td>
            <td></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
          </tr>
          <tr>
            <td>Security Package</td>
            <td></td>
            <td></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
          </tr>
          <tr>
            <td>Tier 1 Support</td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
            <td><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' /></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <div class="card card-block">
        <a href="#" class="btn btn-primary pull-right"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-envelope' /></svg> Contact Us</a>
        <p class="card-text">Need a Customized SD-WAN Service Offering?</p>
      </div>
    </div>
  </div>
</div>